<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>GoogleEngineContactUpload</servlet-name>
		<servlet-class>bulkContactsImport.GoogleEngineContactUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleEngineContactUpload</servlet-name>
		<url-pattern>/JSP/googleenginecontactupload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GoogleEngineSharedListUpload</servlet-name>
		<servlet-class>com.etouch.sharedList.SharedListBulkImport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleEngineSharedListUpload</servlet-name>
		<url-pattern>/JSP/googleenginesharedlistupload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GoogleEngineSegmentExtract</servlet-name>
		<servlet-class>com.etouch.segment.ReadSegmentData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleEngineSegmentExtract</servlet-name>
		<url-pattern>/googleenginesegmentextract</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
